<!--投稿フォーム-->
<h2>New book</h2>
<%= form_with model: @book do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>
  <p>Opinion</p>
  <%= f.text_area :body %>
  <%= f.submit 'Create Book' %>
<% end %>

<!--投稿一覧-->
<h2>Books</h2>
<% @books.each do |book| %>  <!-- @books =Book.all -->
  <div>
    <p><%= image_tag 'no_image.jpg' %></p>  <!-- ユーザー画像 -->
    <%= link_to book_path(book.id) do %>
      <p><%= book.title %></p>                <!-- タイトル -->
    <% end %>
    <p><%= book.body %></p>                 <!-- 感想 -->
    
  </div>
<% end %>