<!--投稿フォーム-->
<h2>New book</h2>
<%= form_with model: @book do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>
  <p>Opinion</p>
  <%= f.text_area :body %>
  <%= f.submit 'Create Book' %>
<% end %>

<!--投稿一覧-->
<h2>Books</h2>
<% @books.each do |book| %>
  <div>
    <p><%= image_tag 'no_image.jpg' %></p>  <!-- ユーザー画像 -->
    <p><%= book.title %></p>                <!-- タイトル -->
    <p><%= book.body %></p>                 <!-- 感想 -->
    <p><%= book.user.name %></p>            <!-- ユーザーネーム -->
  </div>
<% end %>